@model IEnumerable<LHBOL.Gamebooks>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("GameBooks", "Index", new { SortOrder = ViewBag.SortOrder==null?"Asc":(ViewBag.SortOrder=="Asc"?"Desc":"Asc") , SortBy = "ID",page=(ViewBag.Page==null?"1":ViewBag.Page) })
                @*<a asp-controller="Member"
                   asp-action="Edit"
                   asp-route-level="3"
                   asp-route-type="full"
                   asp-route-id="12">Click me</a>*@
                @*@Html.DisplayNameFor(model => model.Id)*@
            </th>
            <th>
                @Html.ActionLink("GameBooks", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Name" ,page=(ViewBag.Page==null?"1":ViewBag.Page)})
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }
    </tbody>

</table>
